@charset "UTF-8";
/* Reseting styles start */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p, strong {
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.open {
    display: flex !important;
}

/* Reseting styles end*/
/* SCSS Variables start */
/* SCSS Variables end */
body {
    font-family: "Roboto";
}

.wrapper {
    max-width: 1630px;
    padding: 0 15px;
    margin-inline: auto;
}

/* Header start */
.header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    transition: 0.2s ease-in;
}

.header-top {
    width: 100%;
    background-color: #000000;
    min-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top p {
    color: #fff;
    line-height: 125%;
    letter-spacing: 2px;
    font-size: 0.75em;
}

/* Mobaile-menu  start */
.mobaile-menu {
    width: 30px;
    height: 18px;
    display: none;
    align-items: center;
    position: relative;
    z-index: 20;
}

.mobile-menu__item {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #000000;
}

.mobaile-menu::before, .mobaile-menu::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000000;
    transition: all 0.3s ease 0s;
}

.mobaile-menu::before {
    top: 0;
}

.mobaile-menu::after {
    bottom: 0;
}

.mobaile-menu.active span {
    transform: scale(0);
}

.mobaile-menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.mobaile-menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.mobaile-menu-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    overflow-y: auto;
    padding: 110px 40px;
    background-color: #fff;
    animation: burgerAnimation 0.4s;
}

.mobaile-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.mobaile-list__link {
    font-size: 1.62em;
    color: #000000;
}

.mobaile-list__link:hover {
    color: #FF4A32;
}

@keyframes burgerAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Mobaile-menu  end */
.header__logo {
    margin-right: 125px;
}

.logo {
    max-width: 230px;
}

.nav {
    min-height: 66.359px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 22px;
}

.nav-list__link {
    display: inline-block;
    padding: 22px 0;
    color: #000000;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.1s ease-in;
}

.nav-list__link:hover {
    color: #FF4A32;
}

._sub-arrow {
    position: relative;
}

._sub-arrow::before {
    content: "";
    position: absolute;
    top: 31%;
    right: -32%;
    width: 20px;
    height: 20px;
    background: url(../images/chevron.png) center no-repeat;
    background-size: contain;
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
}

._sub-arrow:hover::before {
    transform: rotate(0deg);
}

.nav-client-content {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.nav-client-content .person:hover svg path {
    transition: 0.1s ease-in;
    fill: #FF4A32;
}

.nav-client-content .basket:hover svg path {
    transition: 0.1s ease-in;
    fill: #FF4A32;
}

/* SUB-LISTS  start */
.nav-list li {
    position: relative;
}

.sub-nav__list {
    position: absolute;
    width: 200px;
    min-height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    transition: 0.3s linear;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    visibility: hidden;
    opacity: 0;
}

.sub-nav__list .sub-nav__link {
    font-size: 1em;
    font-weight: 500;
    color: #000000;
    transition: 0.1s ease-in;
}

.sub-nav__list .sub-nav__link:hover {
    color: #FF4A32;
}

.nav-list li:hover > .sub-nav__list {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

.sub-nav__list__products {
    position: absolute;
    width: 200px;
    min-height: 150px;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    transition: 0.3s linear;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    visibility: hidden;
    opacity: 0;
}

.sub-nav__list__products .sub-nav__link {
    font-size: 1em;
    font-weight: 500;
    color: #000000;
    transition: 0.1s ease-in;
}

.sub-nav__list__products .sub-nav__link:hover {
    color: #FF4A32;
}

.nav-list li:hover > .sub-nav__list__products {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1280px) {
    .sub-nav__list__products {
        display: flex;
    }
}
/* SUB-LISTS  end */
@media (max-width: 1440px) {
    .nav-list__item:nth-child(3) {
        display: none;
    }
}

@media (max-width: 1280px) {
    .nav-list {
        gap: 40px;
    }

    .nav-list__item:nth-child(2) {
        display: none;
    }
}

@media (max-width: 1024px) {
    .header__logo {
        margin-inline: auto 0;
    }

    .nav-list {
        display: none;
    }

    .mobaile-menu {
        display: flex;
    }
}

@media (max-width: 460px) {
    .header__logo img {
        max-width: 190px;
    }

    .nav-client-content {
        padding-top: 4px;
        gap: 7px;
    }
}
/* Header end */
/* Main Start */
/* Hero start */
.hero {
    background: url(../images/hero-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    margin-inline: auto;
}

.hero__content {
    max-width: 635px;
    padding-top: 150px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    color: #000000;
    font-size: 2.75em;
    font-weight: 700;
}

.hero__desc {
    margin-top: 14px;
    color: #000000;
    font-weight: 700;
    font-size: 0.9375em;
    line-height: 125%;
    letter-spacing: 1px;
}

.hero__btn__wrapper {
    margin-top: 22px;
    max-width: 414px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.hero__btn {
    padding: 5px 37px;
    color: #fff;
    background-color: #FF4A32;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 35px;
    font-size: 0.9375em;
    transition: 0.2s ease-in-out;
}

.hero__btn:hover {
    background-color: #606060;
    border-color: rgba(0, 0, 0, 0);
}

@media (max-width: 1024px) {
    .hero {
        min-height: 76vh;
    }
}

@media (max-width: 768px) {
    .hero {
        background-size: cover;
        background-position-x: right;
        width: 100%;
        margin-inline: auto;
        min-height: 65vh;
    }
}

@media (max-width: 600px) {
    .hero {
        min-height: 60vh;
    }

    .hero__content {
        padding-top: 140px;
    }

    .hero__title {
        font-size: clamp(1.45em, 7vw, 3em);
    }

    .hero__desc {
        font-size: clamp(0.7em, 2.4vw, 0.875em);
    }

    .hero__btn__wrapper {
        justify-content: center;
        gap: 20px;
    }

    .hero__btn {
        width: 80%;
        padding: 11px 50px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .hero__desc {
        display: none;
    }

    .hero__btn {
        font-size: clamp(0.8em, 3vw, 0.9375em);
    }
}
/* Hero end */
/* Divider-section start */
.divider-s__bg {
    min-height: 83px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 52px;
}

.diliver-s__content {
    padding: 0 10px;
    display: flex;
    gap: 106px;
}

.diliver-s__link {
    cursor: auto;
}

.roba {
    display: none;
}

@media (max-width: 1024px) {
    .diliver-s__content {
        gap: 60px;
    }
}

@media (max-width: 900px) {
    .diliver-s__content {
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .diliver-s__content {
        flex-wrap: wrap;
        padding: 20px;
    }

    .diliver-s__link {
        display: block;
        width: 100%;
        text-align: center;
    }
}
/* Divider-section end */
/* boards start */
.boards {
    margin-bottom: 20px;
}

.boards__content {
    max-width: 710px;
    margin: 0 auto;
    text-align: center;
}

.boards__content .boards__title {
    color: #000000;
    font-size: 2em;
    line-height: 112%;
    font-weight: 400;
    margin-bottom: 14px;
}

.boards__content .boards__desc {
    color: #000000;
    font-size: 0.9375em;
    line-height: 125%;
    position: relative;
    margin-bottom: 72px;
}

.boards__content .boards__desc::before {
    position: absolute;
    bottom: -25px;
    left: 50%;
    content: "";
    width: 70px;
    height: 2px;
    background: #CFCFCF;
    transform: translateX(-50%);
}

.boards-cards__wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.boards-cards__item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.boards__cards__icon {
    transition: 0.4s;
}

.boards__cards__icon:hover {
    transform: scale(1.1);
}

.boards__cards__icon__bg {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.boards__cards__icon__bg .boards__cards__text {
    color: #fff;
    font-size: 1.5625em;
    line-height: 120%;
}

.boards__cards__icon__bg .boards__cards__text2 {
    color: #fff;
    font-size: 1.125em;
}

@media (max-width: 768px) {
    .boards__cards__icon__bg .boards__cards__text {
        font-size: clamp(0.925em, 3.3vw, 1.5625em);
    }

    .boards__cards__icon__bg .boards__cards__text2 {
        font-size: clamp(0.7375em, 2.3vw, 1.125em);
    }
}

@media (max-width: 600px) {
    .boards__content {
        max-width: 370px;
    }

    .boards__content .boards__title {
        font-size: clamp(1.5em, 5vw, 2em);
    }
}

@media (max-width: 768px) {
    .boards-cards__wrapper {
        width: 100%;
        flex-wrap: wrap;
    }
}
/* boards end */
/* Skateboards start */
.skateboards {
    background: url(../images/skateboards-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
    margin: 0 auto;
    margin-bottom: 44px;
}

.skateboards__content {
    padding-top: 53px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 564px;
}

.skateboards__content .skateboards-top__text {
    color: #000000;
    font-size: 0.9375em;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 1px;
    margin-bottom: 11px;
}

@media (max-width: 600px) {
    .skateboards__content .skateboards-top__text {
        font-size: clamp(0.7375em, 3vw, 0.9375em);
    }
}

.skateboards__content .skateboards__title {
    color: #000000;
    font-size: 2.8125em;
    line-height: 112%;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .skateboards__content .skateboards__title {
        font-size: clamp(1.45em, 7vw, 3em);
    }
}

.skateboards__content .skateboards__desc {
    color: #000000;
    font-size: 0.9375em;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .skateboards__content .skateboards__desc {
        font-size: clamp(0.7375em, 3vw, 0.9375em);
    }
}

.skateboards__content .skateboards__btn__link {
    width: 201px;
    height: 33px;
    background-color: #FF4A32;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.skateboards__content .skateboards__btn__link:hover {
    background-color: #606060;
    border-color: rgba(0, 0, 0, 0);
}

@media (max-width: 1024px) {
    .skateboards {
        min-height: 60vh;
    }
}

@media (max-width: 768px) {
    .skateboards {
        min-height: 50vh;
    }
}

@media (max-width: 600px) {
    .skateboards {
        min-height: 45vh;
    }
}
/* Skateboards end */
/* Possibilities start */
.possibilities {
    margin-bottom: 45px;
}

.possibilities__content {
    max-width: 1630px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.possibilities__icons {
    display: flex;
    gap: 20px;
}

.possibilities__about {
    margin-left: 40px;
    max-width: 339.984px;
    display: flex;
    flex-direction: column;
}

.possibilitis__title {
    color: #000000;
    font-size: 2em;
    line-height: 120%;
    font-weight: 400;
}

.possibilities__desc {
    margin-top: 21px;
    color: #000000;
    font-size: 0.9375em;
    line-height: 150%;
}

.possibilities__btn__wrapper {
    margin-top: 18px;
    max-width: 101px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.possibilities__btn {
    padding: 5px 15px;
    border-radius: 35px;
    background-color: #FF4A32;
    color: #fff;
    font-size: 0.9375em;
    line-height: 150%;
    transition: 0.2s ease-in-out;
}

.possibilities__btn:hover {
    background-color: #606060;
    border-color: rgba(0, 0, 0, 0);
}

@media (max-width: 1024px) {
    .possibilities__content {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .possibilities__about {
        max-width: 870px;
        margin: 0;
    }

    .possibilitis__title {
        text-align: center;
    }

    .possibilities__desc {
        text-align: center;
    }

    .possibilities__btn__wrapper {
        max-width: 100%;
    }

    .possibilities__btn {
        padding: 7px;
        width: 35%;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .possibilities__content {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .possibilities__icons {
        flex-wrap: wrap;
    }

    .possibilities__icon {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .possibilities__about {
        max-width: 870px;
    }

    .possibilitis__title {
        font-size: clamp(1.5em, 5.5vw, 2em);
    }

    .possibilities__btn {
        width: 70%;
    }
}
/* Possibilities end */
/* Boosted start */
.boosted {
    margin-bottom: 55px;
}

.boosted__content__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.boosted__content__card {
    width: 30%;
    max-height: 480px;
    position: relative;
    overflow: hidden;
}

.boosted__content__icon {
    transition: 0.4s ease-in-out;
    cursor: pointer;
    display: block;
}

.boosted__content__icon:hover {
    transform: scale(1.1);
}

.boosted__card__bg {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.boosted__card__title {
    color: #fff;
    font-size: clamp(1.25em, 1.7vw, 1.5625em);
    line-height: 120%;
}

@media (max-width: 1280px) {
    .boosted__card__title {
        font-size: clamp(1.125em, 1.5625vw, 1.25em);
    }
}

@media (max-width: 1024px) {
    .boosted__card__title {
        font-size: clamp(0.7em, 2vw, 1.25em);
    }
}

@media (max-width: 768px) {
    .boosted__card__title {
        font-size: clamp(1em, 3vw, 1.5625em);
    }
}

.boosted__card__desc {
    color: #fff;
    font-size: clamp(1em, 1.2245vw, 1.125em);
    line-height: 130%;
}

@media (max-width: 1024px) {
    .boosted__card__desc {
        font-size: clamp(0.6em, 1.5625vw, 1em);
    }
}

@media (max-width: 768px) {
    .boosted__card__desc {
        font-size: clamp(0.5em, 3vw, 0.8em);
    }
}

@media (max-width: 1024px) {
    .boosted__content__card {
        width: 48.4%;
        max-height: 480px;
        position: relative;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .boosted__content__card {
        display: flex;
        justify-content: center;
        width: 100%;
        max-height: 580px;
        position: relative;
        overflow: hidden;
    }

    .boosted__card__bg {
        width: 100%;
    }

    .boosted__content__icon {
        transition: 0.3s ease-in-out;
        cursor: pointer;
        display: block;
    }

    .boosted__content__icon:hover {
        transform: scale(0.98);
    }
}
/* Boosted end */
/* Videos start */
.videos {
    width: 100%;
    max-width: 960px;
    padding-inline: 10px;
    margin-inline: auto;
    margin-bottom: 64px;
}

.video__container {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
}

.video__container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Videos end */
/* b-slider start */
.b-slider__title {
    font-size: 2em;
    line-height: 112%;
    text-align: center;
    position: relative;
    margin-bottom: 66px;
}

.b-slider__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 22px);
    width: 70px;
    height: 2px;
    background-color: #CFCFCF;
}

.swiper {
    max-width: 1920px;
    height: 100%;
    padding: 0 15px;
}

.swiper-wrapper {
    min-height: 300px;
    display: inline-flex;
}

/* Стилизация стрелок свайпера */
.swiper-button-next,
.swiper-button-prev {
    color: #FF4A32;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 5rem;
}

.swiper-button-prev {
    left: 30px;
}

.swiper-button-next {
    right: 30px;
}

.swiper-slide {
    height: auto;
    flex: 0 0 auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide .b-slider__list__link {
    text-align: center;
}

.swiper-slide .b-slider__list__desc {
    margin-top: 12px;
    text-align: center;
    color: #FF4A32;
    font-size: 0.9375em;
    line-height: 120%;
}

.swiper-slide .b-slider__list__price {
    margin-top: 3px;
    display: flex;
    gap: 4px;
    font-size: 0.875em;
    line-height: 128%;
}

.swiper-slide .slider__list__price2 {
    color: #FF4A32;
}

.swiper-slide .sold-out {
    color: #CFCFCF;
}

.swiper-slide .b-slider__list__icon {
    width: 200px;
}

.slider__divider {
    height: 66px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 0px 10px 0px rgba(41, 44, 61, 0.34);
    display: flex;
    margin-bottom: 28px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .swiper-button-next,
  .swiper-button-prev {
        color: #FF4A32;
    }

    .swiper-button-next::after,
  .swiper-button-prev::after {
        font-size: 4rem;
    }
}

@media (max-width: 500px) {
    .swiper-button-next,
  .swiper-button-prev {
        color: #FF4A32;
    }

    .swiper-button-next::after,
  .swiper-button-prev::after {
        font-size: 3rem;
    }
}
/* b-slider end */
/* about start */
.about {
    min-height: 308px;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.about__list {
    max-width: 1400px;
    min-height: 257.5px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.about__list__item {
    width: 25%;
    min-height: 257.5px;
    padding: 20.406px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.594px;
}

.about__list__item__content {
    max-width: 290px;
    min-height: 124.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.about__list__title {
    color: #fff;
    font-size: clamp(1.2em, 2.2857vw, 2em);
    line-height: 116%;
}

.about__list__desc {
    text-align: center;
    color: #fff;
    font-size: clamp(0.7449em, 1.0714vw, 0.9375em);
    line-height: 150%;
}

@media (max-width: 768px) {
    .about__list {
        flex-wrap: wrap;
    }

    .about__list__item {
        width: 47.619047619%;
    }

    .about__list__item__content {
        gap: 20px;
    }

    .about__list__title {
        font-size: clamp(1.7em, 5.2vw, 2em);
        line-height: 116%;
        white-space: nowrap;
    }

    .about__list__desc {
        font-size: clamp(0.9em, 1.95vw, 0.9375em);
        line-height: 150%;
    }
}

@media (max-width: 456px) {
    .about__list__item {
        padding: 0;
    }
}
/* about end */
/* Main end*/
/* Footer start */
.footer__title {
    font-size: 1.25em;
    line-height: 150%;
    color: #000000;
}

.footer {
    padding: 20px 0;
    width: 100%;
    min-height: 329px;
    background-color: #F7F7F7;
}

.footer-wrapper {
    max-width: 1200px;
    min-height: 289px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10px;
}

.footer-logo {
    display: block;
    width: 160px;
    height: 134px;
}

.footer-logo__wrapper {
    height: 100px;
    position: relative;
}

.footer-logo__wrapper .footer__logo__arrow {
    display: block;
    position: absolute;
    top: 5px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.footer-logo__wrapper:hover > .footer__logo__arrow {
    transform: translateY(-10px);
}

.footer-logo__wrapper .footer__logo__arrow svg path {
    fill: #222222;
}

.footer-nav {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10.094px;
}

.footer-nav__list {
    display: flex;
    flex-direction: column;
}

.footer-nav__list__link {
    font-size: 0.8125em;
    line-height: 161.538%;
    color: #000000;
    transition: 0.1s ease-in;
}

.footer-nav__list__link:hover {
    color: #FF4A32;
}

.footer-about {
    max-width: 379.984px;
    height: auto;
}

.footer-about__title {
    font-size: 1.1875em;
    line-height: 157.895%;
    margin-bottom: 12px;
}

.footer-about__desc {
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 19px;
}

.footer-about__autors__desc {
    font-size: 0.8125em;
    line-height: 161.538%;
    color: #000000;
}

.footer-about__autors__desc_large {
    font-size: 0.875em;
    line-height: 150%;
    color: #000000;
}

.footer-down-content {
    max-width: 1200px;
    min-height: 70px;
    padding: 20px 10.016px 20px 10px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-inline: auto;
}

.copyright {
    display: flex;
    align-items: center;
    max-width: 780px;
    min-height: 30px;
}

.copyright .copyright__text {
    font-size: 0.8125em;
    line-height: 144.231%;
    color: #000000;
}

.copyright .copyright__text._assent {
    font-size: 0.75em;
    line-height: 156.25%;
    color: #FF4A32;
}

.footer-sosial-media {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    max-width: 332px;
    width: 100%;
    min-height: 30px;
}

@media (max-width: 800px) {
    .footer-down-content {
        justify-content: center;
        flex-wrap: wrap;
    }

    .copyright {
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-wrapper {
        padding-top: 0;
        row-gap: 40px;
    }

    .footer-logo__wrapper {
        width: 100%;
    }

    .footer-logo {
        margin: 0 auto;
    }

    .footer__logo__arrow svg {
        display: none;
    }

    .footer-nav {
        width: 36%;
    }

    .footer-about {
        text-align: center;
    }
}

@media (max-width: 668px) {
    .footer-wrapper {
        row-gap: 40px;
    }

    .footer-logo__wrapper {
        order: -2;
    }

    .footer-nav {
        width: 100%;
        text-align: center;
    }

    .footer-about {
        order: -1;
        margin-inline: auto;
    }

    .footer-about__title {
        font-size: 1.6em;
    }

    .footer-about__desc {
        font-size: 1em;
    }

    .footer-about__autors__desc {
        font-size: 1em;
    }

    .footer-nav__title {
        font-size: 1.6em;
    }

    .footer-nav__list__link {
        font-size: 1em;
    }
}

@media (max-width: 384px) {
    .footer-sosial-media {
        gap: 2px;
    }
}

@media (max-width: 370px) {
    .footer-sosial-media {
        width: 60%;
        justify-content: center;
        gap: 7px;
    }
}
/* Footer end */